<div id="marketing_statement">
  <p>
    The wiki your team deserves!
  </p>
</div>

<div id="main_features">
  <p>
    Main Features
  </p>
</div>

<div class="feature">
  <div class="feature_image"></div>

  <div class="feature_description">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet est nisl, non pulvinar leo.</p>
  </div>
</div>

<div class="feature">
  <div class="feature_image"></div>

  <div class="feature_description">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet est nisl, non pulvinar leo.</p>
  </div>
</div>

<div class="feature">
  <div class="feature_image"></div>

  <div class="feature_description">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet est nisl, non pulvinar leo.</p>
  </div>
</div>

<div class="feature">
  <div class="feature_image"></div>

  <div class="feature_description">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet est nisl, non pulvinar leo.</p>
  </div>
</div>