<div id="logo">
  <p>
    <%= image_tag "logo.png" %>
  </p>
</div>

<div id="marketing_statement">
  <p>
    The wiki your team deserves!
  </p>
</div>

<div id="main_features">
  <p>
    What we have for you
  </p>
</div>

<div class="feature">
  <div class="feature_title">
    Markdown to the rescue!
  </div>

  <div class="feature_image"></div>

  <div class="feature_description">
    <p>
      Who needs fancy rich text editors? Here you'll write articles using a really powerful Markdown
      text editor. Like a boss!
    </p>
  </div>
</div>

<div class="feature">
  <div class="feature_title">
    Everybody loves comments!
  </div>

  <div class="feature_image"></div>

  <div class="feature_description">
    <p>
      No need for email. You can suggest improvements on articles simply by commenting on them.
    </p>
  </div>
</div>

<div class="feature">
  <div class="feature_title">
    Only wiki owners need to pay
  </div>

  <div class="feature_image"></div>

  <div class="feature_description">
    <p>
      You can join as many wikis as you want without spend a single penny if none of the them is yours.
    </p>
  </div>
</div>

<div class="feature">
  <div class="feature_title">
    Create as many wikis as you want
  </div>

  <div class="feature_image"></div>

  <div class="feature_description">
    <p>
      No need for being economic. There's no limit on the number of wikis that paid users can create.
    </p>
  </div>
</div>

<br clear="all">

<p class="try_it_container">
  <%= link_to "Try it for free!", sign_up_path, :class => :try_it %>
</p>