*
{
  color: #555;
  margin: 0 auto;
}

body
{
  background-color: #f3f3f3;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 12px;
}

a
{
  text-decoration: none;
}

a:hover
{
  color: #16ae65;
}

#content
{
  margin-bottom: 60px;
  width: 990px;
}

#small_logo
{
  float: left;
  height: 42px;
  margin: 23px 0;
  width: 166px;
}

#menu
{
  float: right;
  font-size: 14px;
  margin-top: 25px;
}

#menu .menu_items_separator
{
  font-size: 15px;
}

.flash_message
{
  font-size: 25px;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  top: 144px;
  width: 990px;
}

.alert.flash_message
{
  color: #f00;
}