<p>
  Hello!
</p>

<p>
  Do you wanna to reset your password? No problem, just hit the link below:
</p>

<p>
  <%= link_to "Change my password", edit_password_url(@user, :reset_password_token => @user.reset_password_token) %>
</p>

<p>
  And that's all for now.
</p>
